/* form-inline my-2 my-lg-0" */

.badge {
    padding: 15px;
    margin: 10px;
  }

.card-header {
    background-color: #606060;
    text-align: center;
    color: white;
    border: none;
  }

.card-body {
    background-color: #dddddd;
  }

  .first {
    background-color: #606060;
    text-align: center;
    color: white;
    border: hidden;
  }

  body {
    /* background-color: black; */
    background-image: url('https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjt7fS3zajmAhUC6OAKHcaCCTAQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fbackground%2F&psig=AOvVaw2pCiX5KOL8sMX0sY6k_OWg&ust=1575970838055985');
  }

#swara {
    margin: auto;
    width: 60%;
    border: 0px solid #73AD21;
    padding: 10px;
}

/* .form-inline {
  width:40%;
} */
  